/**
 * --------------------------------------------------------------------------------
 *  FONTS
 * --------------------------------------------------------------------------------
 */

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/**
 * ----------------------------------------------------------------------------
 *  MAIN
 * ----------------------------------------------------------------------------
 */

body {
  margin: 25px;
  background-image: url('./assets/images/bg.jpg');
  background-size: cover;
  font-family: Roboto, sans-serif;
}

p {
  padding: 15px;
  font-size: 65px;
  font-weight: 700;
  color: #fff;
  border: dashed 8px #fff;
  text-align: center;
}
